{
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "extends": "eslint:recommended",
  "globals": {
    "Atomics": "readonly",
    "SharedArrayBuffer": "readonly"
  },
  "parserOptions": {
    "ecmaVersion": "latest",
    "sourceType": "module"
  },
  "rules": {
    "indent": ["error", 2],
    "quotes": ["error", "single"],
    "semi": ["error", "always"],
    "no-unused-vars": [
      "warn",
      {
        "args": "none"
      }
    ],
    "no-console": "off",
    "no-debugger": "warn",
    "no-unused-expressions": "error",
    "no-trailing-spaces": "error",
    "no-undef": "error"

  }
}
