[name^="grab-"] {
  position: absolute;
  --size: 6px;
  --corner-size: 16px;
  --offset: -1px;
  z-index: 9;
}
[name^="grab-"]:hover{
    background: rgba(128,128,128,0.1);
}

[name="grab-t"] {
  top: 0px;
  left: var(--corner-size);
  right: var(--corner-size);
  height: var(--size);
  margin-top: var(--offset);
  cursor: ns-resize;
}
[name="grab-r"] {
  top: var(--corner-size);
  bottom: var(--corner-size);
  right: 0px;
  width: var(--size);
  margin-right: var(--offset); 
  cursor: ew-resize;
}
[name="grab-b"] {
  bottom: 0px;
  left: var(--corner-size);
  right: var(--corner-size);
  height: var(--size);
  margin-bottom: var(--offset);
  cursor: ns-resize;
}
[name="grab-l"] {
  top: var(--corner-size);
  bottom: var(--corner-size);
  left: 0px;
  width: var(--size);
  margin-left: var(--offset);
  cursor: ew-resize;
}
[name="grab-tl"] {
  top: 0px;
  left: 0px;
  width: var(--corner-size);
  height: var(--corner-size);
  margin-top: var(--offset);
  margin-left: var(--offset);
  cursor: nwse-resize;
}
[name="grab-tr"] {
  top: 0px;
  right: 0px;
  width: var(--corner-size);
  height: var(--corner-size);
  margin-top: var(--offset);
  margin-right: var(--offset);
  cursor: nesw-resize;
}
[name="grab-br"] {
  bottom: 0px;
  right: 0px;
  width: var(--corner-size);
  height: var(--corner-size);
  margin-bottom: var(--offset);
  margin-right: var(--offset);
  cursor: nwse-resize;
}
[name="grab-bl"] {
  bottom: 0px;
  left: 0px;
  width: var(--corner-size);
  height: var(--corner-size);
  margin-bottom: var(--offset);
  margin-left: var(--offset);
  cursor: nesw-resize;
}