/**** Undiscord Button ****/
#undicord-btn {
    position: relative;
    width: auto;
    height: 24px;
    margin: 0 8px;
    cursor: pointer;
    color: var(--interactive-normal);
    flex: 0 0 auto;
}

#undicord-btn progress {
    position: absolute;
    top: 23px;
    left: -4px;
    width: 32px;
    height: 12px;
    display: none;
}

#undicord-btn.running {
    color: var(--button-danger-background) !important;
}

#undicord-btn.running progress {
    display: block;
}

/**** Undiscord Interface ****/
#undiscord {
    position: fixed;
    z-index: 100;
    top: 58px;
    right: 10px;
    display: flex;
    flex-direction: column;
    width: 800px;
    height: 80vh;
    min-width: 610px;
    max-width: 100vw;
    min-height: 448px;
    max-height: 100vh;
    color: var(--text-normal);
    border-radius: 4px;
    background-color: var(--background-secondary);
    box-shadow: var(--elevation-stroke), var(--elevation-high);
    will-change: top, left, width, height;
}

#undiscord .header .icon {
    cursor: pointer;
}

#undiscord .window-body {
    height: calc(100% - 48px);
}

#undiscord .sidebar {
    overflow: hidden scroll;
    overflow-y: auto;
    width: 270px;
    min-width: 250px;
    height: 100%;
    max-height: 100%;
    padding: 8px;
    background: var(--bg-overlay-4, var(--background-base-lowest));
}

#undiscord .sidebar legend,
#undiscord .sidebar label {
    display: block;
    width: 100%;
}

#undiscord .main {
    display: flex;
    max-width: calc(100% - 250px);
    background-color: var(--bg-overlay-chat, var(--background-base-lower));
    flex-grow: 1;
}

#undiscord.hide-sidebar .sidebar {
    display: none;
}

#undiscord.hide-sidebar .main {
    max-width: 100%;
}

#undiscord #logArea {
    font-family: Consolas, Liberation Mono, Menlo, Courier, monospace;
    font-size: 0.75rem;
    overflow: auto;
    padding: 10px;
    user-select: text;
    flex-grow: 1;
    flex-grow: 1;
    cursor: auto;
}

#undiscord .tbar {
    padding: 8px;
    background-color: var(--bg-overlay-2, var(--__header-bar-background));
}

#undiscord .tbar button {
    margin-right: 4px;
    margin-bottom: 4px;
}

#undiscord .footer {
    cursor: se-resize;
    padding-right: 30px;
}

#undiscord .footer #progressPercent {
    padding: 0 1em;
    font-size: small;
    color: var(--interactive-muted);
    flex-grow: 1;
}

.resize-handle {
    position: absolute;
    bottom: -15px;
    right: -15px;
    width: 30px;
    height: 30px;
    transform: rotate(-45deg);
    background: repeating-linear-gradient(0, var(--background-modifier-accent), var(--background-modifier-accent) 1px, transparent 2px, transparent 4px);
    cursor: nwse-resize;
}

/**** Elements ****/
#undiscord summary {
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    position: relative;
    overflow: hidden;
    margin-bottom: 2px;
    padding: 6px 10px;
    cursor: pointer;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: var(--interactive-normal);
    border-radius: 4px;
    flex-shrink: 0;
}

#undiscord fieldset {
    padding-left: 8px;
}

#undiscord legend a {
    float: right;
    text-transform: initial;
}

#undiscord progress {
    height: 8px;
    margin-top: 4px;
    flex-grow: 1;
}

#undiscord .importJson {
    display: flex;
    flex-direction: row;
}

#undiscord .importJson button {
    margin-left: 5px;
    width: fit-content;
}