#undicord-btn{position: relative; height: 24px;width: auto;-webkit-box-flex: 0;-ms-flex: 0 0 auto;flex: 0 0 auto;margin: 0 8px;cursor:pointer; color: var(--interactive-normal);}

#undiscord {
    position: fixed;
    top: 44px;
    right: 10px;

    min-height: 448px;
    min-width: 610px;
    max-width: 100%;
    max-height: 100%;
    
    height: 448px;
    width: 610px;

    z-index: 99;
    color: var(--text-normal);
    background-color: var(--background-secondary);
    box-shadow: var(--elevation-stroke), var(--elevation-high);
    border-radius: 4px;
    display: flex;
    flex-direction: column
}

#undiscord .logarea {
    overflow: auto;
    font-size: .75rem;
    font-family: Consolas, Liberation Mono, Menlo, Courier, monospace;
    flex-grow: 1;
    padding: 10px;
    user-select: text;
}

/*----- misc -----*/
#undiscord,
#undiscord * {
    box-sizing: border-box;
}

#undiscord .window-body {
    height: calc(100% - 48px);
}

#undiscord .toolbar {
    background-color: var(--background-secondary-alt);
    padding: 8px;
}

#undiscord .toolbar button {
    margin-right: 4px;
    margin-bottom: 4px;
}


#undiscord .sidebar {
    min-width: 250px;
    width: 270px;
    overflow-y: auto;
    height: 100%;
    max-height: 100%;
    padding: 8px;
    overflow: hidden scroll;
    background: var(--background-secondary);
}

#undiscord summary {
    padding-top: 6px;
    padding-bottom: 6px;
    margin-bottom: 2px;
    border-radius: 4px;
    padding: 6px 10px;
    color: var(--interactive-normal);
    position: relative;
    font-size: 16px;
    line-height: 20px;
    cursor: pointer;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    font-weight: 500;
}

#undiscord fieldset {
    padding-left: 8px;
}

#undiscord .main {
    background-color: var(--background-primary);
    display: flex;
    flex-grow: 1;
    max-width: calc(100% - 250px);
}

#undiscord .logarea {
    flex-grow: 1;
}

#undiscord progress {
    height: 8px;
    flex-grow: 1;
    margin-top: 4px;
    
    /* background-color: var(--background-primary);
    border-radius: 3px; */
}

/* #undiscord progress::-webkit-progress-value {
    background-color: var(--brand-experiment);
} */


/* help link */
#undiscord legend a {
    float: right;
    text-transform: initial;
}

#undiscord .col {
    display: flex;
    flex-direction: column;
}

#undiscord .row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

/*----- functional -----*/


#undiscord.redact .priv {
    display: none !important
}

#undiscord:not(.redact) .mask {
    display: none !important
}

#undiscord.redact [priv] {
    -webkit-text-security: disc !important
}

#undiscord :disabled {
    display: none;
}